.redes {
    margin-top: 1rem;
    margin-bottom: 2rem;

    ul {
        display: flex;
        margin-top: 1.5rem;

        li {
            margin-right: 1rem;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--text-color);
                border: 0.06rem solid #cecece;
                width: 3.3rem;
                height: 3.3rem;
                padding: 0.5rem;
                border-radius: 1.88rem;
                transition: var(--transition);

                &:hover {
                    border-color: var(--primary-color);
                    color: var(--primary-color);
                }

                svg {
                    width: 85%;
                    height: auto;
                    transition: var(--transition);
                }
            }
        }
    }
}
