.experiencia-tab {
    display: flex;
    margin-top: 3rem;
    transition: var(--transition);

    @media screen and (max-width: 991px) {
        flex-wrap: wrap;
    }

    .experiencia-tab-link {
        width: 30%;

        @media screen and (max-width: 991px) {
            width: 100%;
        }

        ul {
            @media screen and (max-width: 991px) {
                display: flex;
                width: 100%;
            }

            li {
                border-left: 0.3rem solid var(--text-color);
                transition: var(--transition);

                @media screen and (max-width: 991px) {
                    border-left: 0;
                    border-top: 0.19rem solid var(--text-color);
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    transform: rotate(90deg);
                    border-top: 0;
                    border-left: 3px solid var(--text-color);
                    height: 23vw;
                    width: 25%;
                }

                &:hover {
                    border-left-color: var(--primary-color);

                    span {
                        color: var(--primary-color);
                    }
                }

                span {
                    display: block;
                    width: 100%;
                    padding: 0.8rem 0 0.8rem 2rem;
                    cursor: pointer;

                    @media screen and (max-width: 991px) {
                        padding: 0;
                        display: inline-block;
                        width: auto;
                        max-width: 10.5rem;
                        padding-left: 1.1rem;
                        line-height: 1;
                    }
                }
            }

            li.active {
                border-left-color: var(--primary-color);
                span {
                    color: var(--primary-color);
                }
            }
        }
    }

    .experiencia-tab-content {
        width: 70%;
        min-height: 14.37rem;
        padding-top: 0.8rem;

        @media screen and (max-width: 991px) {
            width: 100%;
            margin-top: -4%;
        }

        @media screen and (max-width: 700px) {
            margin-top: 9%;
        }

        @media screen and (max-width: 450px) {
            margin-top: 15%;
        }

        h3 {
            font-weight: 400;
            font-size: 1.3rem;
            margin-bottom: 1.6rem;
            color: var(--primary-color);
        }

        ul {
            li {
                margin-bottom: 0.6rem;
                font-size: 1.2rem;

                svg {
                    width: 1rem;
                    height: auto;
                    color: var(--primary-color);
                    margin-right: 0.4rem;
                }
            }
        }

        .tab-content-item {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: var(--transition);
        }

        .tab-content-item.show {
            visibility: visible;
            opacity: 1;
        }
    }
}
