@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");
@import "../components/Buttons/Buttons.scss";

$grid-colunas: 12;
$grid-breakpoint: 992px;

:root {
    --white: #ffffff;
    --black: #000000;
    --body-color: #f2f2f2;
    --primary-color: #7c0eaa;
    --text-color: #353535;
    --border-color: #dcdcdc;
    --button-shadow: 0 0 0.87rem rgba(124, 14, 170, 0.8);
    --border-profile: #dab4e9;
    --color-whatsapp: #07bc4c;
    --font-size: 16px;
    --font-family: "Poppins";
    --grid-padding: 1rem;
    --transition: all ease 0.2s;
}

@media screen and (min-width: 1400px) {
    :root {
        --font-size: 17px;
    }
}

@media screen and (max-width: 550px) {
    :root {
        --font-size: 15px;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family), sans-serif;
}

html {
    font-size: var(--font-size);
}

body {
    background-color: var(--body-color);
}

h1,
h2,
h3 {
    font-weight: 600;
    color: var(--text-color);
}

h1 {
    font-size: 2.8rem;
    line-height: 1.1;

    @media screen and (min-width: 1300px) {
        font-size: 3.5rem;
    }

    @media screen and (min-width: 992px) and (max-width: 1299px) {
        font-size: 3rem;
    }

    @media screen and (max-width: 550px) {
        line-height: 1;
    }

    span {
        font-size: 2.8rem;
        color: var(--primary-color);

        @media screen and (min-width: 992px) {
            font-size: 3rem;
        }

        @media screen and (min-width: 1300px) {
            font-size: 3.5rem;
        }
    }
}

h2 {
    font-size: 2.4rem;
    line-height: 1.1;
    margin-bottom: 3rem;

    @media screen and (min-width: 1300px) {
        font-size: 3.1rem;
    }

    @media screen and (min-width: 992px) and (max-width: 1299px) {
        font-size: 2.6rem;
    }

    span {
        font-size: 2.4rem;
        color: var(--primary-color);

        @media screen and (min-width: 992px) {
            font-size: 2.6rem;
        }

        @media screen and (min-width: 1300px) {
            font-size: 3.1rem;
        }
    }
}

a,
span,
li,
p,
button {
    font-size: 1.3rem;
}

a,
span,
li,
p {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media screen and (min-width: 992px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.row {
    display: grid;
    grid-template-columns: repeat($grid-colunas, 1fr);
}

@mixin colunas($cols) {
    @for $i from 0 to $grid-colunas {
        .col-#{$i + 1} {
            position: relative;
            grid-column: span $grid-colunas;
            padding-left: var(--grid-padding);
            padding-right: var(--grid-padding);
        }
    }
}

@include colunas($grid-colunas);

@mixin grid-breakpoints($size, $fr) {
    @media screen and ($size) {
        @for $i from 0 to $fr {
            .col-#{$i + 1} {
                grid-column: span $i + 1;
            }
        }
    }
}

@include grid-breakpoints("min-width:" + $grid-breakpoint, $grid-colunas);

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media screen and (min-width: $grid-breakpoint) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.display-grid {
    display: grid;
}

.display-flex {
    display: flex;
}

.flex-a-center {
    align-items: center;
}

.flex-a-end {
    align-items: flex-end;
}

.flex-a-start {
    align-items: flex-start;
}

.flex-j-center {
    justify-content: center;
}

.flex-j-between {
    justify-content: space-between;
}

.flex-j-around {
    justify-content: space-around;
}

.flex-j-end {
    justify-content: flex-end;
}

.flex-j.start {
    justify-content: flex-start;
}

.circle-radius {
    border-radius: 50%;
}

.margin-0 {
    margin: 0;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

@mixin margin-top($size) {
    @for $i from 0 to $size {
        .margin-top-#{$i + 1} {
            margin-top: #{$i + 1}+ "rem";
        }
    }
}

@include margin-top(5);

@mixin margin-bottom($size) {
    @for $i from 0 to $size {
        .margin-bottom-#{$i + 1} {
            margin-bottom: #{$i + 1}+ "rem";
        }
    }
}

@include margin-bottom(5);

@mixin margin-right($size) {
    @for $i from 0 to $size {
        .margin-right-#{$i + 1} {
            margin-right: #{$i + 1}+ "rem";
        }
    }
}

@include margin-right(5);

@mixin margin-left($size) {
    @for $i from 0 to $size {
        .margin-left-#{$i + 1} {
            margin-left: #{$i + 1}+ "rem";
        }
    }
}

@include margin-left(5);

@mixin padding-top($size) {
    @for $i from 0 to $size {
        .padding-top-#{$i + 1} {
            padding-top: #{$i + 1}+ "rem";
        }
    }
}

@include padding-top(5);

@mixin padding-bottom($size) {
    @for $i from 0 to $size {
        .padding-bottom-#{$i + 1} {
            padding-bottom: #{$i + 1}+ "rem";
        }
    }
}

@include padding-bottom(5);
